main {
    background-color: transparent;
    max-width: 1400px;
    width: 100%;
}

.graphic-container {
    margin: 0 auto;
    padding: 3rem 10rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--desaturated-color-pink);
}

.header-track {
    text-align: center;
    color: #e91e63;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.subheader {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
}

.subheader h2 {
    margin: 0.5rem 0 0 0;
}

.subheader p {
    margin: 0;
}

.icon-play {
    background: #e91e63;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.content-flex {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

.content {
    width: 45%;
}
.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.content ul li i {
    margin-right: 10px;
    color: #e91e63;
}

.session {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.telegram {
    background-color: #7bb8f5;
}

.whatsapp {
    background-color: #31a794;
}

.cta-button-s {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: var(--background-color 0.3s) ease;
    color: var(--text-color-dark);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.cta-button-s:hover, .cta-button-s.telegram.whatsapp {
    background-color: var(--saturated-color-green);
    color: white;
}

.footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #777;
}