:root {
    /* Brand Colors */
    --brand-color-violet: #5B4CFF; /* hsl(240, 72%, 60%) */
    --brand-color-coral: #FF5B4C; /* hsl(10, 100%, 64%) */
    --brand-color-green: #4CFF5B; /* hsl(10, 100%, 64%) */
    --brand-text-color-blue: #00AAFF; /* hsl(195, 100%, 50%) */

    /* Secondary Brand Colors */
    --brand-color-pink-secondary: #FF4C70; /* hsl(350, 100%, 60%) */
    --brand-color-green-secondary: #4CFFDB; /* hsl(170, 100%, 67%) */
    --brand-color-blue-secondary: #00AAFF; /* hsl(195, 100%, 50%) */
    --brand-color-violet-secondary: #5B4CFF; /* hsl(240, 72%, 60%) */

    --primary-color-error: #b3261e; /* hsl(4, 62%, 41%) */
    --primary-color-success: #1eb34a; /* hsl(135, 62%, 41%) */

    /* Colores Primarios */
    --primary-color-white: #F5F5F5; /* hsl(0, 0%, 96%) */
    --primary-color-green: #8fd7d7; /* hsl(180, 33%, 79%) */
    --primary-color-pink: #FF8FB8; /* hsl(0, 100%, 80%) */
    --primary-color-blue: #4285f4; /* hsl(210, 85%, 58%) */
    --primary-color-brown: #8B4513; /* hsl(25, 76%, 30%) */
    --primary-color-violet: #8A2BE2; /* hsl(270, 76%, 53%) */
    --primary-color-yellow: #FFEB3B; /* hsl(54, 100%, 60%) */

    /* Colores Saturados */
    --saturated-color-green: #7cc9c9; /* hsl(180, 40%, 74%) */
    --saturated-color-pink: #FF7F96; /* hsl(0, 100%, 74%) */
    --saturated-color-blue: #66a3ff; /* hsl(210, 85%, 70%) */
    --saturated-color-yellow: #f0e400; /* hsl(54, 100%, 50%) */
    --saturated-color-orange: #ff7f32; /* hsl(24, 100%, 60%) */
    --saturated-color-violet: #9b5fff; /* hsl(265, 77%, 70%) */
    --saturated-color-brown: #a64d1d; /* hsl(24, 80%, 41%) */

    /* Colores Desaturados */
    --desaturated-color-green: #c9f7f7; /* hsl(180, 70%, 89%) */
    --desaturated-color-pink: #f8d0db; /* hsl(360, 70%, 85%) */
    --desaturated-color-blue: #b0c7f1; /* hsl(210, 50%, 80%) */
    --desaturated-color-yellow: #f9f4b8; /* hsl(54, 60%, 85%) */
    --desaturated-color-orange: #ffb573; /* hsl(24, 100%, 74%) */
    --desaturated-color-violet: #d1a1e1; /* hsl(265, 50%, 80%) */
    --desaturated-color-brown: #d1b09d; /* hsl(30, 30%, 74%) */

    /* Colores Oscuros */
    --dark-color-yellow: #E5A700; /* hsl(47, 100%, 45%) */
    --dark-color-orange: #D86B00; /* hsl(24, 100%, 42%) */
    --dark-color-green: #5b8f8f; /* hsl(180, 33%, 38%) */
    --dark-color-pink: #B24F7F; /* hsl(0, 50%, 45%) */
    --dark-color-blue: #1f65b6; /* hsl(210, 70%, 37%) */
    --dark-color-brown: #6f2f1f; /* hsl(10, 55%, 27%) */
    --dark-color-violet: #5c1d98; /* hsl(270, 70%, 33%) */

    --primary-color-charcoal: #36454F; /* hsl(200, 12%, 27%) */
    --primary-color-light-gray: #D3D3D3; /* hsl(0, 0%, 83%) */
    --primary-color-dark-gray: #4F4F4F; /* hsl(0, 0%, 31%) */
    --primary-color-dark-green: #006400; /* hsl(120, 100%, 20%) */
    --primary-color-dark-red: #8B0000; /* hsl(0, 100%, 27%) */
    --primary-color-turquoise: #40E0D0; /* hsl(174, 72%, 56%) */
    --primary-color-navy-blue: #000080; /* hsl(240, 100%, 25%) */
    --primary-color-peach: #FFDAB9; /* hsl(28, 100%, 86%) */
    --primary-color-dark-purple: #4B0082; /* hsl(275, 76%, 25%) */
    --primary-color-gold: #FFD700; /* hsl(51, 100%, 50%) */
    --primary-color-silver: #C0C0C0; /* hsl(0, 0%, 75%) */

    /* Colores s칩lidos */
    --background-color-white: #F5F5F5;
    --background-color-dark: #333333;

    /* Degradado entre los colores verde y rosa */
    --background-gradient-horizontal: linear-gradient(to right, #a1d8d8, #ffb8cc); /* Verde suave y rosa claro */
    --background-gradient-diagonal: linear-gradient(to bottom right, #a1d8d8, #ffb8cc); /* Degradado diagonal */
    --background-gradient-smooth: linear-gradient(to right, #a1d8d8, #FFFFFF, #ffb8cc); /* Suavizaci칩n entre verde, blanco y rosa claro */

    /* Degradado entre los colores verde y rosa para modo oscuro */
    --background-gradient-horizontal-dark: linear-gradient(to right, #4f6a6a, #9b3d53); /* Verde oscuro y rosa oscuro */
    --background-gradient-diagonal-dark: linear-gradient(to bottom right, #4f6a6a, #9b3d53); /* Degradado diagonal con tonos m치s apagados */
    --background-gradient-smooth-dark: linear-gradient(to right, #4f6a6a, #333333, #9b3d53); /* Suavizaci칩n entre verde oscuro, gris y rosa oscuro */

    /* Colores del Texto */
    --text-color-white: #F5F5F5;
    --text-color-black: #000000;
    --text-color-dark: #333333;
    --text-input-field: #F7F7F7;

    /* Colores Acentuados */
    --accent-color-pink: #FFB6C1;
    --accent-color-green: #ecffb6;

    /* Colores Adicionales */
    --very-light-pink: #e6e5e5;
    --hospital-green: #ACD9B2;

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;



    --primary-color-1: var(--a23-color-white);
    --primary-color-2: var(--a23-color-green);
    --primary-color-3: var(--a23-color-black);

    --a23-color-white: #fff;
    --a23-color-green: #34a853;
    --a23-color-black: #202124;
    --a23-color-blue: #4285f4;
    --a23-color-bright-green: #c6ff00;
    --a23-color-dark-gray: #5f6368;
    --a23-color-grape: #6a31cc;
    --a23-color-high-gray: #6c727f;
    --a23-color-medium-gray: #9aa0a6;
    --a23-color-light-gray: #dadce0;
    --a23-color-off-white: #f1f3f4;
    --a23-color-off-white-2: #fafafa;
    --a23-color-light-red: #fbebe2;
    --a23-color-pale-green: #dae8ce;
    --a23-color-pale-blue: #ecf2ff;

    --a23-color-dirty-white: #dae8cd;
    --a23-semantic-color-1: #e1e9da;
    --a23-semantic-color-2: #faeac9;
    --a23-semantic-color-3: #d1daf4;
    --a23-semantic-color-4: #f6d6d6;
    --a23-semantic-color-5: #e5dbf6;

    --a23-semantic-color-light-1: #e8f5e9;
    --a23-semantic-color-light-2: #fef7e0;
    --a23-semantic-color-light-3: #e8f0fe;
    --a23-semantic-color-light-4: #fbebe2;
    --a23-semantic-color-light-5: #f8f4ff;

    --a23-glow-color-1: #d3e3fd;
    --a23-glow-color-2: #ffd7f4;
    --a23-glow-color-3: #a8c7fa;
    --a23-glow-color-4: #99f0ff;

    --a23-glow-gemini-color-1: #d7e6ff;
    --a23-glow-gemini-color-2: #c7e4ff;
    --a23-glow-gemini-color-3: #dce2ff;
    --a23-glow-gemini-color-4: #ecdcfb;

    --a23-color-blurry: hsla(0, 0%, 100%, .6);
    --a23-color-error: #b3261e;

    --accent-color-1: var(--a23-color-blue);
    --accent-color-2: var(--a23-color-bright-green);
    --accent-color-3: var(--a23-color-light-red);
    --neutral-color-1: var(--a23-color-dark-gray);
    --neutral-color-2: var(--a23-color-high-gray);
    --neutral-color-3: var(--a23-color-medium-gray);
    --neutral-color-4: var(--a23-color-light-gray);
    --neutral-color-5: var(--a23-color-off-white);
    --neutral-color-6: var(--a23-color-off-white-2);

    --blurry: var(--a23-color-blurry);
    --grape: var(--a23-color-grape);
    --pale-green: var(--a23-color-pale-green);
    --pale-blue: var(--a23-color-pale-blue);
    --dirty-white: var(--a23-color-dirty-white);

    --semantic-color-1: var(--a23-semantic-color-1);
    --semantic-color-2: var(--a23-semantic-color-2);
    --semantic-color-3: var(--a23-semantic-color-3);
    --semantic-color-4: var(--a23-semantic-color-4);
    --semantic-color-5: var(--a23-semantic-color-5);

    --glow-color-1: var(--a23-glow-color-1);
    --glow-color-2: var(--a23-glow-color-2);
    --glow-color-3: var(--a23-glow-color-3);
    --glow-color-4: var(--a23-glow-color-4);

    --glow-gemini-color-1: var(--a23-glow-gemini-color-1);
    --glow-gemini-color-2: var(--a23-glow-gemini-color-2);
    --glow-gemini-color-3: var(--a23-glow-gemini-color-3);
    --glow-gemini-color-4: var(--a23-glow-gemini-color-4);

    --semantic-color-light-1: var(--a23-semantic-color-light-1);
    --semantic-color-light-2: var(--a23-semantic-color-light-2);
    --semantic-color-light-3: var(--a23-semantic-color-light-3);
    --semantic-color-light-4: var(--a23-semantic-color-light-4);
    --semantic-color-light-5: var(--a23-semantic-color-light-5);

    --primary-overlay-color: var(--a23-color-black);
    --primary-overlay-transparency: 0.3;
    --svg-primary: var(--a23-color-black);
    --a23-font-color: var(--a23-color-black);
}

@font-face {
    font-family: Kefa;
    src: url(assets/fonts/Kefa/kefa-bold.ttf);
    font-style: normal;
}
@font-face {
    font-family: Kefa;
    src: url(assets/fonts/Kefa/Kefa-Regular.TTF);
    font-style: regular;
}

@font-face {
    font-family: Sticky Notes;
    src: url(assets/fonts/Sticky-Notes/Sticky\ Notes.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900; /* Black Italic */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700; /* Bold */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700; /* Bold Italic */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400; /* Italic */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300; /* Light */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300; /* Light Italic */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500; /* Medium */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500; /* Medium Italic */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400; /* Regular */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100; /* Thin */
}
@font-face {
    font-family: 'Google Sans';
    src: url('assets/fonts/google-sans/ProductSans-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100; /* Thin Italic */
}