main {
    background-color: transparent;
    max-width: 1400px;
}

.banner-s {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: var(--primary-color-pink);
    padding: 4%;
    border-radius: 20px;
    margin-top: 20px;
}

@media (max-width: 480px) {
    .banner-s {
        height: 20vh;
    }
}

.banner-content-s {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-principal-s {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color-dark);
    text-align: center;
}

.content-principal-s {
    width: 85%;
    margin: 22px 0 40px 0;
    font-size: 20px;
    text-align: center;
}

.banner-img-s {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
}

#banner-img-s {
    border-radius: 30px;
    background-color: white;
}

iframe {
    max-width: 1400px;
    width: 100%;
    border: none;
    margin-top: 20px;
}

@media (max-width: 720px) {
    iframe {
        margin-top: 10px;
    }
}