:root {
    --primary-color-white: #F5F5F5;
    --primary-color-green: #a7e3e3;
    --primary-color-rose: #FFC0CB;
    --primary-color-blue: #4285f4;
    --primary-color-error: #b3261e;

    --saturado-color-green: #8cd4d4;
    --saturado-color-rose: #FFB6C1;

    --desaturado-color-green: #cefdfd;
    --desaturado-color-rose: #ffd5dc;

    --background-color-white: #F5F5F5;
    --background-color-dark: #333333 ;

    --text-color-white: #F5F5F5;
    --text-color-black: #000000;
    --text-color-dark: #333333;
    --text-imput-field: #F7F7F7;

    --acent-color-rose: #FFB6C1;
    --acent-color-green: #ecffb6;
}

@import url(https://font.googleapis.com/css2?family=Bebas+Neue&family=Rubick:wght@300,400,500,600,700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color-white);
}


button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    transition: 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    position: relative;
    height: 720px;
    width: 1280px;
    border-radius: 20px;
    overflow: hidden;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--background-color-white);
}

.container .content {
    width: 100%;
    display: flex;
}

.container .introduce {
    position: relative;
    height: 100%;
    width: 40%;
    z-index: 20;
}
