main {
    background-color: transparent;
    max-width: 1400px;
}

.banner-dev {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-color: var(--primary-color-pink);
    padding: 4%;
    border-radius: 20px;
    margin-top: 20px;
}

@media (max-width: 720px) {
    .banner-dev {
        width: 100%;
        height: 25vh;
        padding: 3% 0;
        border-radius: 10pX;
        overflow: hidden;
        margin-top: 10px;
    }
}

.banner-content-dev {
    max-width: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 720px) {
    .banner-content-dev {
        width: 80%;
    }
}

.title-principal-dev {
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--text-color-dark);
    text-align: center;
}

@media (max-width: 720px) {
    .title-principal-dev {
        font-size: 1rem;
    }
}

.content-principal-dev {
    width: 85%;
    margin: 20px 0;
    font-size: 1.5  rem;
    text-align: center;
    color: var(--text-color-dark);
}

@media (max-width: 720px) {
    .content-principal-dev {
        font-size: 0.5rem;
        margin: 6px 0;
    }
}

.banner-img-dev {
    max-width: 35%;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
}

@media (max-width: 720px) {
    .banner-img-dev {
        width: 60%;
    }
}

#banner-img-dev {
    border-radius: 30px;
    background-color: white;
}

@media (max-width: 720px) {
    #banner-img-dev {
        border-radius: 10pX;
    }
}

iframe {
    width: 100%;
    border: none;
    margin-top: 10px;
}

@media (max-width: 720px) {
    iframe {
        margin-top: 10px;
    }
}