
.banner-dev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: var(--primary-color-pink);
    padding: 4%;
}

.banner-content-dev {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-principal-dev {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color-dark);
    text-align: center;
}

.content-principal-dev {
    width: 85%;
    margin: 22px 0 40px 0;
    font-size: 20px;
    text-align: center;
}

.banner-img-dev {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
}

#banner-img-dev {
    border-radius: 30px;
    background-color: white;
}