.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: var(--primary-color-pink);
    padding: 4%;
}

.banner-content-bjp {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-secondary-bj{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.content-banner {
    margin: 20px 0;
    text-align: center;
    padding: 0 110px;
    color: var(--text-color-dark);
}

.yt-link {
    border-radius: 20px;
    padding: 7px 20px;
    border: none;
    background-color: var(--desaturated-color-pink);
    cursor: pointer;
    transition: var(--background-color 0.3s) ease;
    color: var(--text-color-dark);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.link-content {
    text-decoration: none;
    font-size: 18px;
    color: #f95c5c;
    display: inline-block;
}

.yt-link:hover {
    background-color: var(--saturated-color-green);
}
.yt-link:hover .link-content {
    color: var(--text-color-white); /* Cambia el color del texto */
}

.banner-bjp {
    width: 42%;
    height: auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(248, 208, 219, 0.3);
}

#logo-animated {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
