main {
    background-color: transparent;
    max-width: 1400px;
}

.banner-bjp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: var(--primary-color-pink);
    padding: 4%;
    margin-top: 20px;
    border-radius: 20px;
    height: 40vh;
}

@media (max-width: 1080px) {
    .banner-bjp {
        height: 20vh;
    }
}

.banner-content-bjp {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-secondary-bj{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.content-text {
    margin: 20px 0;
    text-align: center;
    padding: 0 110px;
    color: var(--text-color-dark);
}

.yt-link {
    border-radius: 20px;
    padding: 7px 20px;
    border: none;
    background-color: var(--desaturated-color-pink);
    cursor: pointer;
    transition: var(--background-color 0.3s) ease;
    color: var(--text-color-dark);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.link-content {
    text-decoration: none;
    font-size: 18px;
    color: #f95c5c;
    display: inline-block;
}

.yt-link:hover {
    background-color: var(--saturated-color-green);
}
.yt-link:hover .link-content {
    color: var(--text-color-white); /* Cambia el color del texto */
}

.banner-img-frame {
    width: 40%;
    height: 70%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(248, 208, 219, 0.3);
}

#logo-animated {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.videosContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.box {
    flex: 1 1 calc(50% - 20px); /* Dos columnas con espacio de gap */
    display: flex;
    flex-direction: column;
    /* Tus estilos existentes */
    padding: 20px;
    border-radius: 10px;
    background-color: var(--desaturated-color-green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.genero {
    font-size: 30px;
    margin: 8px 0;
    text-align: center;
}

.videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-content: space-between;
    justify-content: space-between;
}

@media (max-width: 1080px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

.title-wrapper {
    height: 2.5em; /* Altura suficiente para 1-2 líneas de texto */
    display: flex;
    align-items: center;
    overflow: hidden;
}
.title-video {
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
}

.video-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Proporción de aspecto 16:9 */
    border-radius: 10px;
}

.video-thumbnail,
.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-thumbnail {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.video-box iframe {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-box iframe.loaded {
    opacity: 1;
}

/* Estilos para el loader (spinner) */
.loader {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    border: 6px solid #f3f3f3; /* Color de fondo */
    border-top: 6px solid #555; /* Color del borde animado */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
