body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--saturated-color-pink);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-white);
    border-radius: 10px;
    margin: 10px;
}
.container-contend {
    width: 300px;
    text-align: center;
    max-width: 300px;
}

.color-box {
    height: 100px;
    width: 100px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.slider-container {
    margin: 10px 0;
}

.slider-label {
    margin-bottom: 5px;
    font-weight: bold;
}